@Model List<Aktien>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Das sind meine Aktien</h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Aktienkurs</th>
        <th>Aktienname</th>
        <th>Kurzzeichen</th>
    </tr>
    </thead>
    <tbody>
    
    @{
        <tr>
            @foreach (var aktien in Model)
            {


                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr >

            }
            }
    
    
    </tbody>
    
    
</table>